.width-450{
  width: 450px;
}
.frx{
  display: flex;
  flex-direction: row-reverse;
}
.mx-10{
  margin-left: 10px;
  margin-right: 10px;
}
.mt-10{
  margin-top: 10px;
}
.fxcc{
  display: flex;
  justify-content: center;
  align-items: center;
}
.w-middle{
  width: 1200px;
}
.w-large{
  width: 1500px;
}
.fyc{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.w-full{
  width: 100%;
}